.dropdown_container, .colonyMineral, .mineralList_container, .button_container  { 
    border: 1px solid black; 
 
}

.dropdown_list { 
    display: flex; 
    padding: 50px;
    padding: 20px; 
}

.dropdown_container { 
    display: flex; 
    flex-flow: column; 
    align-content: center;
    padding: 20px; 
  
}

.colonyMineral { 
    padding: 20px; 
}


.mineralList_container { 
    display: flex; 
    flex-direction: row ; 
    padding: 20px;  
    
}


.button_container{ 
 padding: 20px; 
 margin-left: 50px; 
} 


#purchaseButton { 
    
   height: 50px; 
   width: 75px; 
}